{% extends 'layout.html' %}

{% block title %} All Orders {% endblock %}

{% block body %}
<section>
    <div class="section-body">
        <!-- BEGIN DATATABLE 2 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-head style-primary">
                        <header>All Donators Data</header>
                        <div class="tools">
                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="datatable2" class="table order-column hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Blood type</th>
                                        <th>Phone</th>
                                        <th>Gender</th>

                                        <th>Address</th>


                                        <th width="150px">Buttons</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for donator in object_list %}
                                        <tr class="gradeX">
                                            <td>{{ donator.name }}</td>
                                            <td>{{ donator.blood_type }}</td>
                                            <td>{{ donator.phone }}</td>
                                            <td>{{ donator.gender }}</td>

                                            <td>{{ donator.address }}</td>


                                            <td>
                                                <a href="{% url 'donor_update' donator.id %}" class="btn ink-reaction btn-floating-action btn-warning"><i class="md md-edit"></i> </a>
                                               <a href="{% url 'donor_delete' donator.id %}" class="btn ink-reaction btn-floating-action btn-danger"><i class="md md-delete"></i> </a>
                                                <a href="#" class="btn ink-reaction btn-floating-action btn-primary"><i class="md md-print"></i> </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div><!--end .table-responsive -->
                    </div>
                </div>
            </div><!--end .col -->
        </div><!--end .row -->
        <!-- END DATATABLE 2 -->

    </div><!--end .section-body -->
</section>

                {% endblock %}
